.app {
    width: 500px;
    height: 500px;
    background-color: aquamarine;
    margin: auto;
    text-align: center;
}

.app button {
    width: 100px;
    height: 50px;
    margin: 10px;
    font-size: 20px;
}