/* src/index.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #DFDFDF;
    margin: 10px;
}

.log {
    width: 800px;
    margin: 65px auto;
    padding: 20px;
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.item {
    /* 开启弹性盒 */
    display: flex;
    height: 90px;
    margin: 16px 0;
    padding: 6px;
    background-color: #FCBF49;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);        
}

.date {
    width: 90px;
    background-color: #fff;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
}

.month {
    height: 30px;
    line-height: 30px;
    color: #fff;
    background-color: #D62828;
}

.day {
    height: 60px;
    line-height: 50px;
    font-size: 50px;
}

.content {
    flex: auto;
    text-align: center;
    font-weight: bold;
}

.study {
    font-size: 16px;
    color: #194B49;
    
}

.time {
    color: #D62828;
    margin: 20px;
}